<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Sentimental Analysis</title>
    <meta name="description" content="Free bootstrap template Atlas">
    <link rel="icon" href="{{ url_for('static',filename='img/favicon.png') }}" sizes="32x32" type="image/png">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/custom.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='font-awesome-4.7.0/css/font-awesome.min.css') }}">
    
    <link rel="stylesheet" href="{{ url_for('static',filename='css/aos.css') }}">
</head>

<body>
    <div class="jumbotron jumbotron-fluid" id="banner" style="background-image: url('{{ url_for('static',filename='img/banner-bk.jpg') }}');">
        <div class="container text-center text-md-left">
            <header>
                <div class="row justify-content-between">
                    <div class="col-2">
                        <img src="{{ url_for('static',filename='img/logo.png') }}" alt="logo">
                    </div>
                </div>
            </header>
            <h1 data-aos="fade" data-aos-easing="linear" data-aos-duration="1000" data-aos-once="true" class="display-3 text-white font-weight-bold my-5">
            	Sentiment Analysis<br>
            	Making lives simpler<br>
            </h1>
            <p data-aos="fade" data-aos-easing="linear" data-aos-duration="1000" data-aos-once="true" class="lead text-white my-4">
                Lorem ipsum dolor sit amet, id nec enim autem oblique, ei dico mentitum duo.
                <br> Illum iusto laoreet his te. Lorem partiendo mel ex. Ad vitae admodum voluptatum per.<br>
				dskjbvhjdsvhjds
            </p>
            <a href="main" data-aos="fade" data-aos-easing="linear" data-aos-duration="1000" data-aos-once="true" class="btn my-4 font-weight-bold atlas-cta cta-green">Get Started</a>
        </div>
    </div>

    <!-- AOS -->
    <script src="{{ url_for('static',filename='js/aos.js') }}"></script>
    <script>
      AOS.init({
      });
    </script>
</body>

</html>